/* Reset, :root, estilos globais do body e tipografia base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Main Colors*/
  --main-color-red: #e3646e;
  --main-color-purple: #bb72e9;
  --main-color-blue: #3996db;
  --main-color-green: #82bc4f;
  --main-color-yellow: #eabd5f;

  /*Base Colors*/
  --base-color-gray-100: #e2e4e9;
  --base-color-gray-200: #c0c4ce;
  --base-color-gray-300: #878ea1;
  --base-color-gray-400: #292c34;
  --base-color-gray-500: #16181d;
  --base-color-gray-600: #0d0e11;

  /*Typography Asap*/
  --font-family-asap: "Asap", sans-serif;
  --title-lg-asap: 700 56px/120% var(--font-family-asap);
  --title-md-asap: 700 24px/120% var(--font-family-asap);
  --title-sm-asap: 700 16px/120% var(--font-family-asap);

  /*Typography Inconsolata*/
  --font-family-inconsolata: "Inconsolata", sans-serif;
  --subtitle-inconsolata: 400 20px/120% var(--font-family-inconsolata);

  /*Typography Maven Pro*/
  --font-family-maven_pro: "Maven Pro", sans-serif;
  --text-md-maven_pro: 400 16px/140% var(--font-family-maven_pro);
  --text-sm-maven_pro: 400 14px/140% var(--font-family-maven_pro);
}

body {
  color: var(--base-color-gray-100);
  background-color: var(--base-color-gray-600);
}
