* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Main Colors*/
  --main-red: #e3646e;
  --main-purple: #bb72e9;
  --main-blue: #3996db;
  --main-green: #82bc4f;
  --main-yellow: #eabd5f;

  /*Base Colors*/
  --base-gray-100: #e2e4e9;
  --base-gray-200: #c0c4ce;
  --base-gray-300: #878ea1;
  --base-gray-400: #292c34;
  --base-gray-500: #16181d;
  --base-gray-600: #0d0e11;
}

body {
  color: var(--base-gray-100);
  background-color: var(--base-gray-600);
}
