/*Estilos da seção "Projetos"*/
#projects {
  display: flex;
  padding: 72px 120px 144px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  background-color: var(--base-color-gray-500);
}

.projects__header {
  display: flex;
  width: 1040px;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.projects__header p,
.projects__header h2 {
  align-self: stretch;
  text-align: center;
}

.projects__header p {
  color: var(--main-color-red);
  font: var(--subtitle-inconsolata);
}

.projects__header h2 {
  color: var(--base-color-gray-100);
  font: var(--title-md-asap);
}

.projects__grid {
  display: flex;
  width: 1040px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.projects__card {
  display: flex;
  width: 330px;
  height: 280px;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  background: var(--base-color-gray-400);
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s ease 0.05s, transform 0.3s ease;
}

.projects__card:hover {
  border-color: var(--base-color-gray-300);
  transform: scale(1.05);
}

.projects__card img {
  width: 306px;
  height: 156px;
  border-radius: 8px;
}

.projects__card-content {
  display: flex;
  padding: 4px;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
}

.projects__card-content h3 {
  color: var(--base-color-gray-100);
  font: var(--title-sm-asap);
}

.projects__card-content p {
  color: var(--base-color-gray-200);
  font: var(--text-sm-maven_pro);
}
