/* Estilos da seção "Serviços" */
#services {
  display: flex;
  padding: 88px 120px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.services__header p {
  color: var(--main-color-red);
  font: var(--subtitle-inconsolata);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.services__header h2 {
  color: var(--base-color-gray-100);
  font: var(--title-md-asap);
  font-weight: 700;
  line-height: 120%;
}

.services__grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  border: 1px solid transparent;
}

.services__card {
  display: flex;
  width: 280px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 2px solid var(--base-color-gray-500);
  transition: border-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.services__card:hover {
  border-color: var(--base-color-gray-300);
  transform: scale(1.05);
}

.services__card img {
  width: 48px;
  height: 48px;
}

.services__card .services__card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.services__card .services__card-content h3 {
  color: var(--base-color-gray-100);
  font: var(--title-sm-asap);
  font-weight: 700;
  line-height: 120%;
}

.services__card .services__card-content p {
  color: var(--base-color-gray-200);
  font: var(--text-sm-maven_pro);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
